<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    {% for produto in produtos %}
        <div>
            <h2>{{ produto.nome }}</h2>
            <p>Preço: R$ {{ produto.preco }}</p>
            {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }} Image" style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</body>
</html>

<a href="{% url 'adiciona_produto' %}">Adicionar Produto</a>
    <a href="{% url 'adiciona_categoria' %}">Adicionar Categoria</a>